.jumbotron h1 {
    color:rgb(25, 68, 105)
}

.jumbotron p {
    color:rgb(25, 68, 105)
}

.white-text h2 {
    color: rgb(25, 68, 105);
}

.aliceblue-text p {
    color: rgb(25, 68, 105);
}

.col-md-12 p {
    color: rgb(25, 68, 105);
}

body {
    background-color: rgb(61, 59, 66);
}